<div>
  <h2>编辑主题</h2>

  <hr>
  <%= form_for @group do |f| %>

  标题
  <%= f.text_field :title %>
  <br>
  叙述
  <br>
  <%= f.text_area :description %>
  <br>

  <%= f.submit "submit",:disable_wiht =>'submiting...' %>
  <% end %>

</div>
