<div>
  <div>
    <% if current_user && current_user == @group.user %>
    <%= link_to("Edit",edit_group_path(@group))%>
    <% end %>
  </div>
  <h2><%= @group.title %></h2>
  <p><%= @group.description %></p>
</div>
